<h6> Start Timer</h6>
<div class="task-timer">
  <div class="timer-text">
    <span class="hours"> {{hours}} </span> :
    <span class="minutes"> {{minutes}} </span>
  </div>
  <div>
    <button class="btn btn-small" id="timerButton" {{action "timerAction"}}>
      <span class="fa fa-{{actionIcon}}" aria-hidden="true" {{action "timerAction"}}></span> {{actionText}} </button>
    <button class="btn btn-small" id="timerButtonReset" disabled="{{stopDisabled}}" {{action "resetTimer"}}>
      <span class="fa fa-eject" aria-hidden="true"></span> Reset </button>
    <button class="btn btn-small" id="logTime">
      <span class="fa fa-check" aria-hidden="true">
        <a href="/#/timelog/{{userId}}">Log Time</a>
      </span>
    </button>
  </div>
  <div>
  </div>
</div>