<div>
    <small>Viewing time Entries for {{period}}</small>
</div>
{{#if timelogs}}
    <div class="table-responsive pre-scrollable h-100 display dataTable">
        <table class="table table-sm tbltimelog" id="tbltimelog">
            <thead>
                <tr class="row col-12" scope="row">
                    <td scope="col" class="col-2 text-right">Date Of Work</td>
                    <td scope="col" class="col-2 text-right">Effort (HH:MM)
                    </td>
                    <td scope="col" class="col-1 text-left">Tangible</td>
                    <td scope="col" class="col-2 text-left">Project
                        <div class="dropdown-divider"></div>
                        Task
                    </td>
                    <td scope="col" class="col-5 text-left">Notes</td>
                </tr>
            </thead>
            <tbody>
                {{#each timelogs as |timelog|}}
                    <tr class="col-12 row {{if timelog.isTangible 'bg-success' 'bg-info'}}" scope="row">
                        <td class="col-2 text-right"> {{timelog.dateOfWork}}</td>
                        <td class="col-2 text-right"> {{timelog.totalSeconds}}</td>
                        <td class="col-1 text-left"> {{if timelog.isTangible "Y" "N"}} </td>
                        <td class="col-2 text-left"> {{timelog.projectName}} {{timelog.taskName}}
                        </td>
                        <td class="col-5 text-left"> {{timelog.notes}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{else}}
    <small> No time enteries for this period</small>
{{/if}}