<div>
    <small>Viewing time Entries for {{period}}</small>
</div>
{{#if timelogs}}
    <div class="table-responsive  h-100">
        <table class="table table-sm tbltimelog pre-scrollable" id="tbltimelog">
            {{!-- <thead>
                <tr class="row col-12" scope="row">
                    <td scope="col" class="col-2 text-right">Date Of Work</td>
                    <td scope="col" class="col-2 text-right">Effort (HH:MM)
                    </td>
                    <td scope="col" class="col-1 text-left">Tangible</td>
                    <td scope="col" class="col-2 text-left">Project
                        <div class="dropdown-divider"></div>
                        Task
                    </td>
                    <td scope="col" class="col-5 text-left">Notes</td>
                </tr>
            </thead> --}}
            <tbody>
                {{#each timelogsview as |timelog index|}}
                    <tr class="col-12 row tr-tangible-{{timelog.isTangible}}" scope="row">
                        <form class="w-100" readonly= {{if (and isEditable (is-timeentry-within-week timelog.dateOfWork)) null "true"}}>
                            <div class="row col-12">
                                <div class="col-5 mt-3 mb-3">
                                    <div class="row mb-3">
                                        Date: {{timelog.dateOfWork}} {{timelog.isTangible}}
                                    </div>
                                    <div class="row mb-3">
                                        <label class="label mr-1">Time:</label>
                                        <input class="col-4 mr-3" value= {{timelog.hours}} readonly= {{if (and isEditable (is-timeentry-within-week timelog.dateOfWork)) null "true"}}
                                            onchange= {{action (mut timelog.hours) value = "target.value"}}> :
                                        <input class="col-4 ml-3" value= {{timelog.minutes}} readonly= {{if (and isEditable (is-timeentry-within-week timelog.dateOfWork)) null "true"}}
                                            onchange= {{action (mut timelog.minutes) value = "target.value"}}>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="label mr-1">Project/Task:</label>
                                        <select name="projects" readonly= {{if (and isEditable (is-timeentry-within-week timelog.dateOfWork)) null "true"}} onchange= {{action (mut timelog.taskId) value = "target.value" }}>
                                            {{#each projects as |project|}}
                                                <optgroup label= {{project.projectName}}></optgroup>
                                                {{#each project.tasks as |task|}}
                                                    <option value='"projectId" : {{project.projectId}}, "taskid": {{task._id}}' selected= {{if (eq task._id timelog.taskId) true }}>{{task.Description}}</option>
                                                {{/each}}
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="label mr-1">Tangible:</label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" value=true name="timeentrytypeoptions" type="radio" checked= {{if (eq timelog.isTangible true) "true"}}
                                                readonly= {{if (and isEditable (is-timeentry-within-week timelog.dateOfWork)) null "true"}}
                                                onclick= {{action (mut timelog.isTangible) value = "target.value"}}>
                                            <label class="form-check-label">
                                                Tangible Work
                                            </label>
                                            <input class="form-check-input" value=false name="timeentrytypeoptions" type="radio" checked= {{if (eq timelog.isTangible false ) "true"}}
                                                readonly= {{if (and isEditable (is-timeentry-within-week timelog.dateOfWork)) null "true"}}
                                                onclick= {{action (mut timelog.isTangible) value = "target.value"}}>
                                            <label class="form-check-label">
                                                Intangible Work
                                            </label>
                                        </div>
                                    </div>
                                    {{#if (and isEditable (is-timeentry-within-week timelog.dateOfWork)) }}
                                        <div class="row">
                                            <a href="#" class="actions" {{action "saveEditsToTimelog" timelog index}}>Save Changes</a>
                                            <a href="#" class="actions" {{action "deleteTimelog" timelog}}> Delete</a>
                                        </div>
                                    {{/if}}
                                </div>
                                <div class="col-7 mt-3 mb-3">
                                    {{tinymce-editor options=options value=timelog.notes }}
                                </div>
                            </div>
                        </form>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{else}}
    <small> No time enteries for this period</small>
{{/if}}