<div class="col-xs-12">
  <div class="card border-success mb-3 ">
    <div class="card-header">
      <h4 class="card-title">
        <a class="accordion-toggle" data-toggle="collapse" data-target="#showData">
          Action Items
        </a>
      </h4>
    </div>
    <div class="card-body collapse" id="showData">
      <div>
        <select class="" onchange= {{action "updateforUser"  }}>
          {{#each teamMembers as |teamMember|}}
            <option value='{"_id" : "{{teamMember._id}}", "name"  : "{{teamMember.name}}" }' selected= {{eq forUserId teamMember._id}}>{{teamMember.name}} {{if (check-userisloggedin-user teamMember loggedinUser ) " (You)" ""}}</option>
          {{/each}}
        </select>
        <button {{action "getActionItemsForUser"}} class="pull-right btn-primary">Show For Another User</button>
      </div>
      <div id="actionItems">
        <small class="text-center">
          {{displaytext}}
        </small>
        {{#if actionItems }}
          <table class="table table-striped table-hover">
            <thead>
              <tr class="row">
                <th scope="col" class="col-sm-3">Created By</th>
                <th scope="col" class="col-sm-7">Description</th>
                {{#if isUseronSelfPage}}
                  <th scope="col" class="col-sm-1">Edit</th>
                  <th scope="col" class="col-sm-1">Delete</th>
                {{/if}}
              </tr>
            </thead>
            <tbody>
              {{#each actionItems as |actionItem|}}
                <tr class="row">
                  <td class="col-sm-3">{{actionItem.createdBy}}</td>
                  <td class="col-sm-7 text-left">
                    <input class="col-sm-7" value= {{actionItem.description}} onchange= {{action (mut newdescription) value = "target.value"}}
                      readonly= {{if isUseronSelfPage null "readonly"}}>
                  </td>
                  {{#if isUseronSelfPage}}
                    <td class="col-sm-1">
                      <span class="fa fa-save" {{action "editActionItem" actionItem}}></span>
                    </td>
                    <td class="col-sm-1">
                      <span class="fa fa-trash" {{action "deleteActionItem" actionItem}}></span>
                    </td>
                  {{/if}}
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          <div>
            <small>No action items</small>
          </div>
        {{/if}}
        {{#if isUseronSelfPage}}
          <form class="form-inline">
            <div class="form-group col-12">
              {{input type="text" class="form-control col-8" placeholder="Assign new action item" value = newAIdescription }}
              <button type="submit" class="pull-right btn btn-primary" {{action "createActionItem"}}>Assign</button>
            </div>
          </form>
        {{/if}}
      </div>
    </div>
  </div>
</div>