<div style="padding-bottom: 50px">
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark sticky-top flex-column flex-md-row nav-fill fixed-top hgnnavbar">
    <a class="navbar-brand" href="/">
      <span class="logo">Time Tracking Tool</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headeritems" aria-controls="headeritems"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="headeritems">
      <ul class=" navbar-nav" style="width : 100%;">
        <li class="nav-item navbar-text">
          <a class="nav-link" href="/#">Dashboard</a>
        </li>
        <li class="nav-item navbar-text">
          <a class="nav-link" href="/#/timelog/{{userId}}">Timelog
          </a>
        </li>
        {{#if isUserReportAdmin}}
          <li class="nav-item navbar-text">
            <a class="nav-link" href="/#/reports">Reports</a>
          </li>
        {{/if}}
        <li class="nav-item navbar-text">
          <a class="nav-link" href="/#/timelog/{{userId}}">
            <icon class="fa fa-bell icon-large">
              <icon class="badge badge-pill badge-danger badge-notify">{{if (eq notificationslength 0) 0 notificationslength}}</icon>
              <span class="sr-only">unread messages</span>
            </icon>
          </a>
        </li>
        {{!-- <li class="nav-item">
          {{hgn-timer userId= userId }}
        </li> --}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Other Links
          </a>
          <div class="dropdown-menu">
            {{#if isUserAdministrator}}
              <a class="dropdown-item" href="/#/usermanagement">User Management</a>
            {{/if}}
            <a class="dropdown-item" href="/#/projects">Projects</a>
            <a class="dropdown-item" href="/#/teams">Teams</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src= {{if userDashboardData.profilePic userDashboardData.profilePic  "/assets/images/defaultprofilepic.jpg"}} alt=""
              class="img-fluid dashboardimg img-circle" height="35" width="40" onclick= {{action "navigatetoProfile"}}> Welcome {{userDashboardData.firstName}}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item">Hello {{userDashboardData.firstName}}
              <div>
                <small>You current role is: {{userDashboardData.role}}
                </small>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/#/profile/{{userId}}">View Profile</a>
            <a class="dropdown-item" href="/#/updatepassword">Update Password</a>
            <div class="dropdown-divider"></div>
            <a href="#" {{action 'logout'}} class="dropdown-item">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>