<div style="padding-bottom: 50px">
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark sticky-top flex-column flex-md-row nav-fill fixed-top hgnnavbar">
    <a class="navbar-brand" href="/">
      <span class="logo">Time Tracking Tool</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headeritems" aria-controls="headeritems"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="headeritems">
      <ul class=" navbar-nav" style="width : 100%;">
        <li class="nav-item navbar-text">
          <a class="nav-link" href="/">Dashboard</a>
        </li>
        <li class="nav-item navbar-text">
          <a class="nav-link" href="/#/timelog/{{userId}}">Timelog
          </a>
        </li>
        <li class="nav-item navbar-text">
          <a class="nav-link" href="/#/reports">Reports</a>
        </li>
        <li class="nav-item navbar-text">
          <form class="form-inline my-2 my-lg-0">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Tasks">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </li>
        <li class="nav-item navbar-text">
          <a class="nav-link" href="/#/timelog/{{userId}}">
            <span class="fa fa-bell bell-large">
              <icon class="badge-notify">{{if (eq notificationslength 0) 0 notificationslength}}</icon>
            </span>
          </a>
        </li>
        <li class="nav-item navbar-text">
          {{weekly-effort-chart forUserId= userId}}
        </li>
        {{#if isUserAdministrator}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Administrative Links
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/#/usermanagement">User Management</a>
              <a class="dropdown-item" href="/#/projects">Manage Projects</a>
            </div>
          </li>
        {{/if}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {{#if userDashboardData.profilePic}}
              <img src="{{userDashboardData.profilePic}}" alt="" class="img-fluid dashboardimg img-circle" height="35" width="40">
            {{else}}
              <img src="/assets/images/defaultprofilepic.jpg" alt="" class="img-fluid dashboardimg" height="35" width="40">
            {{/if}}
          </a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Hello {{userDashboardData.firstName}}
              <div>
                <small>You are logged in as
                  {{#if ( eq userDashboardData.role "Administrator")}}
                    an {{userDashboardData.role}}
                  {{else}}
                    a {{userDashboardData.role}}
                  {{/if}}
                </small>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/#/profile/{{userId}}">View Profile</a>
            <a class="dropdown-item" href="/#/updatepassword">Update Password</a>
            <div class="dropdown-divider"></div>
            <a href="#" {{action 'logout'}} class="dropdown-item">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>