<div class="border">
  <div>
    <span class="hours"> {{hours}} HH </span> :
    <span class="minutes"> {{minutes}} MM </span>
  </div>
  <div>
    <button type="button" class="btn btn-sm" id="timerButton" {{action "timerAction"}} data-toggle="tooltip" data-placement="botton"
      title= {{actionText}}>
      <span class="fa fa-{{actionIcon}}" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-sm" id="timerButtonReset" disabled="{{stopDisabled}}" {{action "resetTimer"}} data-toggle="tooltip"
      data-placement="botton" title="Reset">
      <span class="fa fa-eject" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#timentrymodal">
      <i class="fa fa-check"></i>
    </button>
  </div>
  <div class="modal fade" id="timentrymodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          {{hgn-task-update-form forUserId = loggedinUser notifyController = notifyController taskhours = hours taskminutes = minutes }}
        </div>
      </div>
    </div>
  </div>
</div>