<a href="#" class="card-link btn btn-success float-right" data-toggle="modal" data-target="#resetPwd">Reset Password</a>

<!-- Reset new pwd modal -->
<div class="modal fade" id="resetPwd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset Password</h5>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="{{isSubmitted}}" id="frmResetPwd">
                <div class="modal-body mx-3">
                <div class={{if errorlist "errorlist mb-2" "mb-2"}} >
                    <ul id="errorlist">
                        {{#each errorlist as |error|}}
                        <li> {{error}}</li>
                        {{/each}}
                    </ul>
                </div>
                    <div class="form-group row">
                        <input type="password" id="resetpassword" required class="form-control" placeholder="new password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                            onchange={{action (mut password) value="target.value" }}/>
                    </div>
                    <div class="form-group row">
                        <input type="password" id="confirmresetpassword" required class="form-control" placeholder="confirm password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                            onchange={{action (mut confirmpassword) value="target.value" }}/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" {{action "ResetPassword" userId}}>Reset</button>
                </div>
             </form>
        </div>
    </div>
</div>