<div class="card text-center mb-3 w-30 h-100 " style="background-color:#1782B5">
  <div class="card-body">
    <a href="/profile/{{id}}">
      <h5 class="card-title">Profile</h5>
    </a>
    <div class="card-text">
      <table class="table">
        <tr>
          <img class="img-responsive" src= {{logo}}>
        </tr>
        <tr>
          {{firstName}} {{lastName}}
        </tr>
        <tr>
          {{role}}
        </tr>
      </table>
    </div>
  </div>
</div>
{{yield}}