<div class="card border-danger mb-3 ">
  <div class="card-header">
    <h4 class="card-title">
      <a class="accordion-toggle" data-toggle="collapse" data-target="#showTimeEntryForm">
        Add Time To Task
      </a>
    </h4>
  </div>
  <div class="card-body collapse" id="showTimeEntryForm">
    <form id="frmSubmitTimeEntry" class="{{isFormSubmitted}}">
      <div class="form-group row">
        <label class="col-3 label">Date Of Work:</label>
        <div class="">
          {{!-- {{pikaday-input format="MM/DD/YYYY" onSelection=(action (mut dateofWork ) value= target.value) required= "true"}} --}}
          <input type="date" class="form-control" onchange= {{action (mut dateofWork) value = "target.value"}} required placeholder="Select date of work">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 label">Effort Spent:</label>
        <table>
          <tr>
            <td>
              <input id="hours" class="form-control" type="number" min=0 max=23 placeholder="hours" onchange= {{action (mut taskhours) value = "target.value"}}
                placeholder="Hours">
            </td>
            <td>
              <input id="minutes" class="form-control" type="number" min=0 max=59 placeholder="minutes" onchange= {{action (mut taskminutes) value = "target.value"}}
                placeholder="Minutes"> </td>
            <td>
              <input id="seconds" class="form-control" type="number" min=0 max=50 placeholder="seconds" onchange= {{action (mut taskseconds) value = "target.value"}}
                placeholder="Seconds"> </td>
          </tr>
        </table>
      </div>
      <div class="form-group row">
        <label class="col-3 label"> Select Project: </label>
        <select class="form-control col-9" onchange= {{action (mut forprojectId) value="target.value"}} required>
          <option value="" disabled selected>Select Project</option>
          {{#each projects as |project|}}
            {{#if project.projectName}}
              <option value= {{project.projectId}}>{{project.projectName}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
      <div class="form-group row">
        <label class="col-3 label"> Select Task: </label>
        <select class="form-control col-9" onchange= {{action (mut fortaskId) value="target.value"}} required>
          <option value="" disabled selected>Select Task</option>
          {{#each projects as |project|}}
            {{#if (eq project.projectId forprojectId )}}
              {{#each project.tasks as |task|}}
                <option value= {{task._id}}>{{task.Description}}</option>
              {{/each}}
            {{/if}}
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label> Notes: </label>
        <input class="form-control" type="text" onchange= {{action (mut notes) value="target.value" }} />
      </div>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" name="timeentrytypeoptions" type="radio" onselect= {{action (mut isTangible) "true"}} checked>
          <label class="form-check-label">
            Tangible Work
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" name="timeentrytypeoptions" type="radio" onselect= {{action (mut isTangible) "false"}}>
          <label class="form-check-label">
            Intangible Work
          </label>
        </div>
      </div>
      <button class="btn btn-danger btn-sm pull-left" {{action "clearform"}}>Cancel</button>
      <button type="submit" class="btn btn-primary btn-sm pull-right" {{action "submitTimeEntry"}}>Submit</button>
    </form>
  </div>
</div>