<div class="card text-center mb-3 pre-scrollable " style="background-color:#1782B5">
  <div class="card-body">
    <h5 class="card-title">Profile
    </h5>
    <a href="/profile/{{id}}" data-toggle="tooltip" data-placement="bottom" title="Click to view detailed profile">
      <img class="rounded mx-auto d-block img-fluid" src= {{logo}} alt="Profile Image">
    </a>
    <div class="card-text">
      <table class="table dashboardtable">
        <tr>
          {{firstName}} {{lastName}}
        </tr>
        <tr>
          {{role}}
        </tr>
      </table>
    </div>
  </div>
</div>