<div class="container">
    <form id="userProfileForm" class= {{isFormSubmitted}}>
        <div class="form-row col-md-12">
            <div class="form-group col-md-6">
                <img input id="image" type="image  " alt="Profile Picture" src= {{model.profilePic}} name=profilePic class="img-responsive logo"
                />
                {{#if canUserEditPersonalFields}}
                    <label for="newProfilePic" class="btn btn-sm btn-info">Update My Image</label>
                    <input id="newProfilePic" style="visibility:hidden" multiple="true" onchange= {{action "updateProfilePic"}} accept="image/png,image/jpeg"
                        name= {{newProfilePic}} type="file" />
                {{/if}}
            </div>
            <div class="form-group col-md-6">
                <div class="card border-info mb-3">
                    <div class="card-header">My Badges</div>
                    <div class="card-body">
                        <p class="card-text">Some badges to show up here</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                {{userprofile-inputboxes  type = "text" name = "firstName" label = "First Name" isRequired = true value = model.firstName minlength= minNamelength 
                maxlength= maxNamelength isEditable = canUserEditPersonalFields onchangeaction = "updateProperty" }}
            </div>
            <div class="form-group col-md-5">
                {{userprofile-inputboxes  type = "text" name = "lastName" label = "Last Name" isRequired = true value = model.lastName minlength= minNamelength 
                maxlength= maxNamelength isEditable = canUserEditPersonalFields onchangeaction = "updateProperty" }}
            </div>
            <div class="form-group col-md-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value=1 name="userActiveOptions" onchange= {{action (mut model.isActive) 1}}
                        checked= {{if model.isActive "true" null}} readonly= {{if isLoggedinUserAdministrator null "readonly"}}>
                    <label class="form-check-label" for="inlineRadio1">Active</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="userActiveOptions" value=0 onchange= {{action (mut model.isActive) 0}}
                        checked= {{if model.isActive null true}} readonly= {{if isLoggedinUserAdministrator null "readonly"}}>
                    <label class="form-check-label" for="inlineRadio2">Inactive</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                {{userprofile-inputboxes  type = "email" name = "email" label = "Email" isRequired = true value = model.email  
                 isEditable = isLoggedinUserAdministrator onchangeaction = "updateProperty" }}
            </div>
            <div class="form-group col-md-4">
                {{userprofile-inputboxes  type = "text" name = "role" label = "Role" isRequired = true value = model.role  isEditable = isLoggedinUserAdministrator onchangeaction = "updateProperty" }}
            </div>
            <div class="form-group col-md-4">
                {{userprofile-inputboxes  type = "number" min =minWeeklyCommittedHours  max = maxWeeklyCommittedHours name = "weeklyComittedHours" label = "Weekly Comitted Hours" isRequired = true value = model.weeklyComittedHours  isEditable = isLoggedinUserAdministrator onchangeaction = "updateProperty" }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-xs-12">
                <label class="control-label" for="bio">*Bio:</label>
                {{ textarea id = "bio" class = "form-control" value= model.bio options=options readonly = (if canUserEditPersonalFields null "readonly" )}}
            </div>
        </div>
        <div class="form-row col-xs-12">
            <div class="card-group">
                <div class="form-group col-md-6 ">
                    {{userprofile-profilelinks label = "Social/ Professional Link" linksarray =  model.personalLinks isEditable =canUserEditPersonalFields name = "personalLinks" onchangeaction = "updateProperty" }}
                </div>
                <div class="form-group col-md-6">
                    {{userprofile-profilelinks label = "Administrative Link" linksarray =  model.adminLinks isEditable =isLoggedinUserAdministrator name = "adminLinks" onchangeaction = "updateProperty" }}
                </div>
            </div>
        </div>
        <div class="form-row col-md-6">
            {{userprofile-teammemberships name = "teamId" userteams = model.teamId isEditable = isLoggedinUserAdministrator  onchangeaction = "updateProperty"}}
        </div>
        <div class="form-row col-xs-12">
            <div class="col-xs-6">
                <a href="/dashboard" class=" button btn btn-danger">Cancel</a>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-primary pull-right" {{action 'postChanges'}}> Save Changes</button>
            </div>
        </div>
    </form>
</div>