<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Total Hours contributed this Period: <strong>{{totalTime}} Hrs</strong></p>
    </div>
<div class="col-md-6">
  {{#unless isweek}}
  <p class="sidebyside">Difference from Previous Period of Same Duration: <strong>{{percentChange}} Hrs </strong> {{#if setColor}}<i class="fa fa-arrow-up" style="font-size:20px;color:green"></i>{{else}}
      <i class="fa fa-arrow-down" style="font-size:20px;color:red"></i>{{/if}}
  </p>
  {{/unless}}
</div>
  </div>
</div>
<div class="row">
    <div class="scrollBox col-md-4">
        <p><b>Members contributing to the project:</b></p>
        <div class="">
            {{#each sortedProjectMembers as |value|}}
            <a href="/#/profile/{{value._id}}">{{value.firstName}}</a><br/> {{/each}}
        </div>
    </div>
    <div class="col-md-4 scrollBox">
        <p><b>Members Contribution:</b></p>
        <div id="member_pie">
        </div>
    </div>
    <div class="scrollBox col-md-4">
    <p><b>Members with no time entries:</b></p>
    {{#if notContributed}} {{#each notContributed as |value|}}
    <a href="/#/profile/{{value._id}}">{{value.firstName}}</a><br> {{/each}} {{else}}
    <p>None</p>
    {{/if}}
    </div>
</div>
<br>
<div class="row">
  <div class="col-md-12" id="dashboard_div">
    <p><b>CONTRIBUTION TOTALS COMPARISON FOR CHOSEN MEMBERS & PERIOD:</b></p>
        <div id="colFilter_div"></div>
        <div id="BarChart" class="col-md-6"></div>
        <div id="noData" style="display: none;">
            No Member Data
        </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    {{#if isweek}}
    <div id="dashboardWeekly_div">
        <p><b>WEEKLY TREND COMPARISON FOR CHOSEN MEMBERS & PERIOD:</b></p>
        <div id="colFilterWeek_div"></div>
        <div id="WeeklyTrend" class=""></div>
    </div>
    {{/if}}
  </div>
</div>
{{yield}}
