{{outlet}}
<div class="container">
    <h2>Projects
        {{#if isUserAdministrator }}
            <button class="btn btn-success pull-right" data-toggle="modal" data-target="#modalNewProject">Add New Project</button>
        {{/if}}
    </h2>
    <table class="table table-striped" id="projectstable">
        <thead>
            <tr>
                <th scope="col">Project Name</th>
                <th scope="col"> Active</th>
                <th scope="col">Membership Details</th>
                {{#if isUserAdministrator}}
                    <th scope="col"> Delete</th>
                    <th scope="col">Save Edits</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each model.allProjects as |project index|}}
                <tr class="submitted">
                    <td contenteditable="true">
                        <input id="projectname_{{index}}" minlength= {{minProjectName}} maxlength= {{maxProjectName}} class="form-control w-100 h-100"
                            required value= {{project.projectName}} onchange= {{action (mut project.projectName) value = "target.value"}}
                            pattern="^[^\s]+(\s+[^\s]+)*$" readonly= {{if isUserAdministrator null true}}>
                    </td>
                    <td>
                        <input type=checkbox checked= {{project.isActive}} onchange= {{action (mut project.isActive) value = "target.checked"}} disabled= {{if isUserAdministrator null true}}>
                    </td>
                    <td>
                        {{#unless isUserAdministrator}}
                            <i class="fa fa-users m-3" {{action "getusersforproject" project}} data-toggle="modal" data-target="#projectmembersmodal">
                            </i>
                        {{/unless}}
                        {{#if isUserAdministrator}}
                            <i class="fa fa-edit" {{action "getusersforproject" project}} data-toggle="modal" data-target="#editprojectmembersmodal"></i>
                        {{/if}}
                    </td>
                    {{#if isUserAdministrator}}
                        <td>
                            <i class="fa fa-trash" {{action "deleteProject" project}}></i>
                        </td>
                        <td>
                            <i class="fa fa-floppy-o" {{action "saveEdits" project index}}></i>
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{#if isUserAdministrator}}
    <div class="modal fade" id="modalNewProject" tabindex="-1" role="dialog" aria-labelledby="#newproject" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newproject">New Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="frmNewProject" class="{{isFormsubmitted}}">
                    <div class="modal-body">
                        <div class="form-row col-12 mb-3">
                            <label for="projectName" class="label col-3">ProjectName:</label>
                            <input type="text" class="form-control  col-8" id="projectName" placeholder="Project Name" required=true minlength= {{minProjectName}}
                                maxlength= {{maxProjectName}} onchange= {{ action (mut newProject.projectName) value = "target.value"}}>
                        </div>
                        <div class="form-row col-12 mb-3">
                            <input type="checkbox" class="form-control col-2" checked=true onchange= {{ action (mut newProject.isActive) value = "target.checked"}}>
                            <label class="form-check-label col-8">Active</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" {{action 'resetform' }}>Reset</button>
                        <button type="button" class="btn btn-primary" {{action 'addNewProject'}}>Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/if}}
<div class="modal fade" id="projectmembersmodal" tabindex="-1" role="dialog" aria-labelledby="projectmembersmodal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Viewing Members for Project: {{currentProjectName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    {{#each projectmembers as |member|}}
                        <li class="list-group-item"> {{member.firstName}} {{member.lastName}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{{#if isUserAdministrator}}
    <div class="modal fade" id="editprojectmembersmodal" tabindex="-1" role="dialog" aria-labelledby="editprojectmembersmodal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Members for Project: {{currentProjectName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" {{action "resetForm"}}>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{#if editingform}}
                        <div class="p-3 mb-2 bg-danger text-white"> Please remember to save the changes by clicking the button at the bottom of this popup. Failure to
                            do so will result in changes not being saved</div>
                    {{/if}}
                    <ul class="list-group">
                        {{#each model.allUsers as |user|}}
                            <div class="form-row mb-1 mr-3">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id= {{user._id}} value= {{user._id}} checked= {{if (record-in-array projectmembers user._id "_id") "checked" null}}
                                        onchange= {{action "editProjectMembership" user}}>
                                    <label class="form-check-label" for= {{user._id}}>{{user.firstName}} {{user.lastName}}</label>
                                </div>
                            </div>
                        {{/each}}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" {{action "resetForm"}}>Close</button>
                    <button type="button" class="btn btn-primary" {{action "savemembershipchanges"}}>Save changes</button>
                </div>
            </div>
        </div>
    </div>
{{/if}}