{{outlet}}
<form>
  <div class="form-group">
    <label for="projectName">
      <span>*</span> ProjectName: </label>
    <input type="text" class="form-control" id="projectName" placeholder="Project Name" required=true minlength= {{minProjectName}}
      maxlength= {{maxProjectName}} onchange= {{ action (mut newProject.projectName) value = "target.value"}}>
  </div>
  <fieldset class="form-group">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="projectActive" value="true" checked= {{ if newProject.isActive  true null }}
          onchange= {{ action (mut newProject.isActive) "true"}}> Active
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="projectInactive" value="false" checked= {{ if newProject.isActive  null true }}
          onchange= {{ action (mut newProject.isActive) "false"}}> Inactive</label>
    </div>
  </fieldset>
  <div>
    <button type="submit" class="btn btn-primary" {{action 'addNewProject'}}>Add Project</button>
    <button type="submit" class="btn btn-danger" {{action 'goBack'}}>Cancel</button>
  </div>
</form>