{{outlet}}

<form>
    <div class="form-group">
        <label for="projectName">
            <span>*</span> ProjectName: </label>
        <input type="text" class="form-control" id="projectName" placeholder="Project Name" required=true minlength= {{minProjectName}}
            maxlength= {{maxProjectName}} onchange= {{ action (mut newProject.projectName) value = "target.value"}}>
    </div>
    <div class="form-group">
      <label for="tasks">
        <span>*</span> Tasks: </label>
        <ul class="list-group">
            {{#each newProject.tasks as |task|}}
              <li class="list-group-item">
                <small>{{task.Description}}</small>
                <button class="btn" type="button" {{ action 'cancelTask' task}}><span class="glyphicon glyphicon-minus"></span></button>
              </li>
              <br>
            {{/each}}
          </ul>
            <div>
              <div class="input-group>">
          <input type="text" class="form-control" id="taskDescription"  placeholder= "Add Task..." required minlength= {{minTaskLength}}
          maxlength= {{maxTaskLength}} onchange= {{ action (mut task.Description) value = "target.value"}}>
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" {{ action 'addNewTask' }}>Add Task</button>
          </span>
          </div>
        </div>
    </div>
    <fieldset class="form-group">
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="projectActive" value="true" checked= {{if isActive "true" null }}
                    onchange= {{ action (mut newProject.isActive) "true"}}> Active
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="projectInactive" value="false" checked= {{if isActive null "true" }}
                    onchange= {{ action (mut newProject.isActive) "false"}}> Inactive</label>
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary" {{action 'addNewProject'}}>Add Project</button>
</form>
