{{outlet}}

<form>
    <div class="form-group">
        <label for="projectName">
            <span>*</span> ProjectName: </label>
        <input type="text" class="form-control" id="projectName" placeholder="Project Name" required=true minlength= {{minProjectName}}
            maxlength= {{maxProjectName}} onchange= {{ action (mut newProject.projectName) value = "target.value"}}>
    </div>
    <div class="form-group">
      <label for="tasks">
        <span>*</span> Tasks: </label>
        <ul class="list-group">
            {{#each newProject.tasks as |task|}}
              <li class="list-group-item">
                <div class= "input-group">

                {{input required = "true" class="form-control" name ="task" type = "text" value = task.Description }}

                <span class="input-group-btn">
                <button class="btn" type="button" {{ action 'cancelTask' task}} >Remove</button>
              </span>
            </div>
              </li>
              <br>
            {{/each}}
          </ul>
        <div class="input-group">
      <input type="text" class="form-control required" id="taskDescription" placeholder="Add Task..." minlength= {{minTaskLength}} maxlength= {{maxTaskLength}} onchange= {{ action (mut task.Description) value = "target.value"}}>
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" {{ action 'addNewTask' }} >Add Task</button>
      </span>
    </div>
    </div>
    <fieldset class="form-group">
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="projectActive" value="true" checked= {{if isActive "true" null }}
                    onchange= {{ action (mut newProject.isActive) "true"}}> Active
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="projectInactive" value="false" checked= {{if isActive null "true" }}
                    onchange= {{ action (mut newProject.isActive) "false"}}> Inactive</label>
        </div>
    </fieldset>

    <div class="form-group">
      <label for="teams">
        <span>*</span> Teams: </label>
        <ul class="list-group">
            {{#each projectTeams as |team|}}
              <li class="list-group-item">
                <div class= "input-group">

                {{input required = "true" class="form-control" name ="team" type = "text" value = team.teamName }}

                <span class="input-group-btn">
                <button class="btn" type="button" {{ action 'cancelTeam' team}} >Remove</button>
              </span>
            </div>
              </li>
              <br>
            {{/each}}
          </ul>
        <div class="input-group">
      <input type="text" class="form-control required" id="teamName" placeholder="Add Team..." minlength= {{minTeamLength}} maxlength= {{maxTeamLength}} onchange= {{ action (mut newTeam.teamName) value = "target.value"}}>
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" {{ action 'addNewTeam' }} >Add Team</button>
      </span>
    </div>
    </div>

    <div>
    <button type="submit" class="btn btn-primary" {{action 'addNewProject'}}>Add Project</button>
  </div>
</form>
