<div class="card-deck">
  <div class="col-md-4">
    {{ hgn-profilebox firstName=model.firstName lastName = model.lastName role=model.role logo=model.profilePic id =model._id}}
  </div>
  <div class="col-md-4">
    {{hgn-timer loggedinUser = loggedinUser}}
  </div>
  <div class="col-md-4">
    {{hgn-leaderboard loggedinUser = loggedinUser}}
  </div>
</div>
<div class="card-deck">
  <div class="card text-center col-md-4 mb-3">
    <div class="card-block">
      <h4 class="card-title">Badges</h4>
      <p class="card-text">
        {{hgn-badges title="UserName" role=model.userSnapshot.role }}
      </p>
    </div>
  </div>
  <div class="card text-center col-md-4 mb-3">
    <div class="card-block">
      <h4 class="card-title">Weekly Effort</h4>
      <p class="card-text">
        {{weekly-effort-chart forUserId= loggedinUser.requestorId}}
      </p>
    </div>
  </div>
  <div class="card text-center col-md-4 mb-3">
    <div class="card-block">
      <h4 class="card-title">Monthly Effort</h4>
      <p class="card-text">
        {{monthly-effort-chart forUserId =  loggedinUser.requestorId}}
      </p>
    </div>
  </div>
</div>