{{outlet}}
<div class="mx-auto mt-5">
  <h2 class="display-4 mb-5">Force Password</h2>
  <div class={{if errorlist "errorlist mb-2" "mb-2"}}>
    <ul id="errorlist">
      {{#each errorlist as |error|}}
      <li> {{error}}</li>
      {{/each}}
    </ul>
  </div>
  <form class="{{isSubmitted}} mx-auto" id="frmforcePwd">
    <div class="form-group row">
      <label for="newPwd" class="label col-md-2">*New Password:</label>
      <input type="password"  id="newPwd" required class="form-control col-md-5" placeholder="********" onchange= {{action (mut newPwd) value= "target.value"}}
      />
    </div>
     <div class="form-group row">
      <label for="confirmPwd" class="label col-md-2">*Confirm:</label>
      <input  type="password" id="confirmPwd" required class="form-control col-md-5" placeholder="********" onchange= {{action (mut confirmPwd) value= "target.value"}}
      />
    </div>
    <div class="form-group row">
      <div class="col-md-3">
        <button {{action "submit" model.userId}} class="btn btn-primary float-right" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>