{{outlet}}
<div class="mx-auto mt-5">
  <h2 class="display-4 mb-5">Force Password</h2>
  <form class="{{isSubmitted}} mx-auto" id="frmforcePwd">
    <div class="form-group row">
      <label for="newPwd" class="label col-md-2">*New Password:</label>
      <input  id="newPwd" required class="form-control col-md-5" placeholder="********" onchange= {{action (mut firstName) value= "target.value"}}
      />
    </div>
     <div class="form-group row">
      <label for="inputlastName" class="label col-md-2">*Confirm New Password:</label>
      <input  id="lastName" required class="form-control col-md-5" placeholder="********" onchange= {{action (mut lastName) value= "target.value"}}
      />
    </div>
    <div class="form-group row">
      <div class="col-md-3">
        <button {{action "submit"}} class="btn btn-primary float-right" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>