{{outlet}}
<div class="mx-auto mt-5">
  <h2 class="display-4 mb-5">Forgot Password</h2>
  <form class="{{isSubmitted}} mx-auto" id="frmforgotPwd">
    <div class="form-group row">
      <label for="inputEmail" class="label col-md-2">*Email address:</label>
      <input type="email" id="inputEmail" required class="form-control col-md-5" placeholder="Email" onchange= {{action (mut email) value= "target.value"}}
      />
    </div>
    <div class="form-group row">
      <label for="inputfirstName" class="label col-md-2">*First Name:</label>
      <input  id="firstName" required class="form-control col-md-5" placeholder="First Name" onchange= {{action (mut firstName) value= "target.value"}}
      />
    </div>
     <div class="form-group row">
      <label for="inputlastName" class="label col-md-2">*Last Name:</label>
      <input  id="lastName" required class="form-control col-md-5" placeholder="Last Name" onchange= {{action (mut lastName) value= "target.value"}}
      />
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <a href="/#" class="text-secondary float-left">Cancel</a>
      </div>
      <div class="col-md-3">
        <button {{action "submit"}} class="btn btn-primary float-right" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>{{outlet}}