<div class="card-deck mb-3">
    {{!-- <div class="col-md-4">
        {{ hgn-profilebox firstName=model.firstName lastName = model.lastName role=model.role logo=model.profilePic id =model._id}}
    </div> --}}
    <div class="col-md-8">
        {{hgn-leaderboard loggedinUser = loggedinUser}}
    </div>
    <div class="col-md-4">
        {{hgn-timer loggedinUser = loggedinUser }}
    </div>
</div>
<div class="card-deck mb-3">
    <div class="col-md-8">
        {{hgn-badges}}
    </div>
    {{!-- <div class="col-md-4">
        {{weekly-effort-chart forUserId= loggedinUser.requestorId}}
    </div> --}}
    <div class="col-md-4">
        <div class="row">
            {{monthly-effort-chart forUserId =  loggedinUser.requestorId}}
        </div>
        <div class="row">
            {{weekly-effort-chart forUserId= loggedinUser.requestorId}}
        </div>
    </div>
</div>