{{outlet}}
<div class="mx-auto mt-5">
  <h2 class="display-4 mb-5">Please sign in</h2>
  <form class="{{isSubmitted}} mx-auto" id="frmlogin">
    <div class="form-group row">
      <label for="inputEmail" class="label col-md-2">*Email address:</label>
      <input type="email" id="inputEmail" required class="form-control col-md-5" placeholder="Email" onchange={{action (mut email)
        value="target.value" }} />
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="label col-md-2">*Password:</label>
      <input type="password" id="inputPassword" required class="form-control col-md-5" placeholder="Password" onchange={{action
        (mut password) value="target.value" }} />
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <a href="/#/forgotpassword" class=".text-info float-left"> Forgot Password?</a>
      </div>
      <div class="col-md-3">
        <button {{action "login"}} class="btn btn-primary float-right" type="submit">Sign in</button>
      </div>
    </div>
  </form>
</div>