{{outlet}}
<div class="container">
  <h3>{{model.teamName}}</h3>
  <button type="submit" {{action 'getProjectName'}}>Project</button>
  <h4>{{projectName}}</h4>
  <button type="submit" {{action 'getUsers'}}>Team Members</button>
  {{#each users as |user|}}
  <li>
  {{#link-to "profile" user_id}}
    {{user.firstName}} {{user.lastName}}
  {{/link-to}}
</li>
  {{/each}}
  <button class="btn btn-primary" type="submit" {{action 'saveChanges'}}>Save</button>

  <button class="btn btn-danger" type="submit" {{action 'deleteTeam'}}>Delete</button>
</div>
