{{outlet}}
<div class="container">
  <div>
    <span>*</span>
    Team name
  </div>
  <form class="form-horizontal">
    <input id="teamName" name="teamName" class="form-control" required=true type="text"
    value= {{model.teamName}} placeholder="Team Name" minlength= {{minTeamName}} maxlength= {{maxTeamName}} readonly = {{if isUserAdministrator null "readonly"}} onchange= {{action "notifyChange" "teamName"}} />
  </form>
  <br>
  <div>
    <span>*</span>
    Current project
  </div>
  <h6>  
    {{projectName}}</h6>
    <button type="submit" {{action 'changeProject' project}}> Change Project</button>
    <div>
      <br>
      <div>
        <span>*</span>
        Team members</div>
</div>
  {{#each users as |user|}}
  <li>
  {{#link-to "profile" user._id}}
    {{user.firstName}} {{user.lastName}}
  {{/link-to}}
</li>
  {{/each}}
  <button type="submit" {{action 'changeMembers'}}> Change Team Members</button>

  <br><br>
  <div>
  <button class="btn btn-primary" type="submit" {{action 'saveChanges'}}>Save</button>

  <button class="btn btn-danger" type="submit" {{action 'deleteTeam'}}>Delete</button>
</div>
</div>
