{{outlet}}
<div class="container">
  <div>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-3 nav-fill">
      <li class="navbar-brand">Viewing Timelog For: {{model.name}}</li>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#timelogsnapshot" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse" id="timelogsnapshot">
        <ul class="navbar-nav w-100">
          <li class="nav-item navbar-text mr-3 w-25" id="timelogweeklychart">
            {{weekly-effort-chart forUserId= model.forUserId elementid = "timelogweeklychart" called_at = called_at}}
          </li>
          <li class="nav-item  navbar-text">
            <span class="fa fa-tasks icon-large" data-toggle="modal" data-target="#actionItems">
              <icon class="badge badge-pill badge-warning badge-notify">{{numactionitems}}</icon>
            </span>
          </li>
          <li class="nav-item navbar-text">
            <i class="fa fa-envelope icon-large" data-toggle="modal" data-target="#notifications">
              <icon class="badge badge-pill badge-warning badge-notify">{{numnotifications}}</icon>
            </i>
          </li>
          <li class="nav-item navbar-text">
            <a class="nav-link" href="/#/profile/{{model.forUserId}}">View Profile</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-12 row mb-3">
    <div class="col-md-8">
      <div class="card border-primary">
        <div class="card-header">
          <h4 class="card-title ">
            <a class="accordion-toggle" data-toggle="collapse" data-target="#timelogs"> Time Entries </a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">Viewing time entries logged in last 3 weeks
            {{#if isEditable}}
              {{#if (eq model.forUserId loggedinUser.requestorId)}}
                <button class="btn btn-success pull-right" data-toggle="modal" data-target="#timentrymodal">Add Time Entry
                </button>
              {{else}}
                <button class="btn btn-warning pull-right" data-toggle="modal" data-target="#timentrymodal">Add Time Entry for {{model.name}}
                </button>
              {{/if}}
              <div class="modal fade" id="timentrymodal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      {{#if (eq model.forUserId loggedinUser.requestorId)}}
                        {{hgn-task-update-form forUserId = model.forUserId notifyController = (action (mut called_at )) taskhours = loggedinUserTaskHours taskminutes = loggedinUserTaskMinutes}}
                      {{else}}
                        {{hgn-task-update-form forUserId = model.forUserId notifyController = (action (mut called_at ))}}
                      {{/if}}
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}
          </h6>
        </div>
        <div class="card-body" id="timelogs">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active " id="current-week-tab" data-toggle="tab" href="#current-week" role="tab" aria-controls="current-week"
                aria-selected="true">Current Week</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="last-week-tab" data-toggle="tab" href="#last-week" role="tab" aria-controls="last-week" aria-selected="false">Previous Week</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " id="penultimate-week-tab" data-toggle="tab" href="#penultimate-week" role="tab" aria-controls="penultimate-week"
                aria-selected="false">Penultimate Week</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div id="current-week" class="tab-pane fade show active" role="tabpanel" aria-labelledby="current-week-tab">
              {{hgn-viewtimelog loggedinUser = loggedinUser projectfiltervalue = "" forUserId = model.forUserId  fromDate = forweek.fromDate_wk_0 toDate = forweek.toDate_wk_0 called_at = called_at  notifyController = (action (mut  called_at ))}}
            </div>
            <div id="last-week" class="tab-pane fade" role="tabpanel" aria-labelledby="last-week-tab">
              {{hgn-viewtimelog loggedinUser = loggedinUser projectfiltervalue = "" forUserId = model.forUserId  fromDate = forweek.fromDate_wk_1 toDate = forweek.toDate_wk_1 called_at = called_at  notifyController = (action (mut  called_at ))}}
            </div>
            <div id="penultimate-week" class="tab-pane fade" role="tabpanel" aria-labelledby="penultimate-week-tab">
              {{hgn-viewtimelog loggedinUser = loggedinUser projectfiltervalue = "" forUserId = model.forUserId  fromDate = forweek.fromDate_wk_2 toDate = forweek.toDate_wk_2 called_at = called_at  notifyController = (action (mut  called_at ))}}
            </div>
          </div>
          {{#if isEditable }}
            <a href="/#/AllTimeEntries/{{model.forUserId}}" class="card-link">View Entries For Other Period</a>
          {{/if }}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      {{hgn-leaderboard loggedinUser = loggedinUser called_at = called_at}}
    </div>
  </div>
  <div class="modal fade" id="actionItems" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          {{hgn-actionitems  loggedinUser = loggedinUser forUserId = model.forUserId notifyController = (action (mut numactionitems ))  }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="notifications" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          {{hgn-notifications loggedinUser = loggedinUser forUserId = model.forUserId notifyController = (action (mut numnotifications ))}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>