{{outlet}}
<div class="container">
  <div class="row mb-3">
    <div class="col-md-6">
      {{weekly-effort-chart forUserId = model.forUserId }}
    </div>
    <div class="col-md-6">
      {{monthly-effort-chart forUserId = model.forUserId}}
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-8">
      {{hgn-notifications loggedinUser = loggedinUser forUserId = model.forUserId}} {{hgn-actionitems  loggedinUser = loggedinUser forUserId = model.forUserId  }}
      {{#if isEditable}}
        {{hgn-task-update-form loggedinUser = loggedinUser forUserId = model.forUserId }}
      {{/if}}
      <div class="card border-primary mb-3">
        <div class="card-header">
          <h4 class="card-title ">
            <a class="accordion-toggle" data-toggle="collapse" data-target="#timelogs"> Time Enteries </a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">Viewing time enteries for current week</h6>
        </div>
        <div class="card-body collapse" id="timelogs">
          {{hgn-viewtimelog loggedinUser = loggedinUser forUserId = model.forUserId period = "currentWeek" isEditable="false"}}
          {{#if isEditable }}
            <a href="/AllTimeEntries/{{model.forUserId}}" class="card-link">View Enteries For Other Period</a>
          {{/if }}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      {{hgn-leaderboard loggedinUser = loggedinUser}}
    </div>
  </div>
</div>