{{outlet}}
<div class="container">

    <button class="btn btn-info" type="button" data-toggle="modal" data-target="#newUserModal" data-dismiss="modal">Create
        New User</button>

    <div class="modal fade" id="newUserModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Create New User</h4>
                    <button type="button" class="close" data-dismiss="modal" {{action "close"}}>
                        <span class="fa fa-remove"></span>
                    </button>
                </div>

                <div class="modal-body">
                    {{user-profile userrole = userrole model=user isNewUser=true}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" {{action "close"}}>Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="show">Show:</label>
        <select class="form-control" id="show" onchange={{action "filterUpdated" value="target.value" }}>
            <option value="null">All</option>
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>
    </div>

    {{models-table data=filteredUsers columns=columns showColumnsDropdown=false useNumericPagination=true
    filteringIgnoreCase=true
    showPageSize=true customIcons=customIcons
    columnComponents=(hash deleteRow=(component "delete-row-comp" onClick=(action "setRecordForDeletion"))) }}

    {{!-- {{#if isShowingModal}}
    {{#modal-dialog onClose="toggleModal" targetAttachment="center" translucentOverlay=true}}
    hi hr hello
    {{/modal-dialog}}
    {{/if}} --}}

    <button class="btn d-none" id="showDeleteModalbtn" type="button" data-toggle="modal" data-target="#confirmDeleteModal"
        data-dismiss="modal">Delete User</button>

    <div class="modal" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeletemodal"
        aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose A Delete Action</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeDeleteUserModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body col-6 align-self-center">
<div>Are you sure you want to delete this user? This action cannot be undone. Switch them to 'Inactive' if you'd like to keep them in the system or choose “Keep Data” if you’d like to still delete them but add their associated data to the “Data Archive” instead of completely deleting them and all their data. </div>
                <div>
                    <button class="btn btn-danger col m-2" onclick={{action "handleDeleteRequest" "delete"}}>Understood, C-ya!<br/>Delete their Data Forever
</button>
                </div>

                <div class="">
                    <button class="btn btn-warning col m-2" onclick={{action "handleDeleteRequest" "Inactivate"}}>Oops, My Bad!<br/>Just Make Them Inactive</button>
                </div>
                <div>
                    <button class="btn btn-success col m-2" onclick={{action "handleDeleteRequest" "archive"}}>Wait, Save the Data!<br/>
Data Archiving is Cool
</button>
                </div>
            </div>
        </div>

    </div>

</div>
